.swiper-container {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.left-rect {
  position: absolute;
  width: 150px;
  height: 118px;
  top: 5%;
  /* left: 330px; */
}

.right-rect {
  position: absolute;
  width: 200px;
  height: 150px;
  right: 0;
  bottom: 35%;
  /* left: 923px; */
}

.mySwiper1,
.mySwiper2 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
  position: relative;
}

.mySwiper1 {
  padding-left: 5%;
  /* top: 5rem;
    left: 25rem; */
}

/* .mySwiper2 {
    top: 10rem;
    left: 15rem;
  } */

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  font-weight: bold;
  color: #fff;
}

.sShadow {
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.swiper-slide > img {
  width: 100%;
  /* 物件內圖片保持比例填滿 */
  object-fit: cover;
  /* 視覺中心點 */
  object-position: 50% 50%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.slogan {
  width: 100%;
}

/* .left-section {
    position: relative;
    top: -2rem;
  } */

.bgTriangle {
  position: absolute;
  top: 262px;
  left: 95px;
}

.text {
  display: inline;
  color: #000;
  font-size: 24px;
  letter-spacing: 15%;
  font-weight: 600;
  line-height: 35px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .swiper-container {
    position: relative;
    height: auto;
    margin: auto;
    width: 90%;
  }
}
