/* ↓中間的部分↓ */
#main {
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  margin: auto;
  overflow: hidden;
  /* background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-image: url(./images/02_map/bg.png);
    background-size: cover;
    background-repeat: no-repeat; */
}
#content {
  width: 80%;
  height: 95%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
/* ↓左邊地圖卡片的部分↓ */
#voteCard {
  width: 40%;
  height: 95%;
  display: flex;
  margin-left: 100px;
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
#cardContent {
  width: 95%;
  height: 90%;
  border-radius: 35px;
  background-color: #fffbeb;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#cardMap {
  width: 95%;
  height: 60%;
  border-radius: 30px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 24px auto 11px;
}

#cardVotes {
  width: 95%;
  height: 30%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
#putin_HTML {
  width: 100%;
  height: 181px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
/* ↓地區名稱和候選人名和投票率和得票數↓ */
#placeName {
  width: 50%;
  height: 57px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#placeName > h4 {
  color: #363062;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4.8px;
  margin: 0;
}
#placeName > p {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
}
#candidate {
  width: 50%;
  height: 57px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#candidate > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#candidate > div > h5 {
  text-align: right;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3.6px;
  margin: 0;
}
#imgSeal {
  width: 30px;
  height: 30px;
  background-image: url("/icon/small_seal.png");
}
#candidate > p {
  color: #666666;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.1px;
  margin: 0;
}
/* ↑地區名稱和候選人名和投票率和得票數↑ */
/* ↓一排投票率↓ */
#voteRate {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 7px;
}
/* .cardRectangle {
  width: 5px;
  height: 100%;
  background-color: #827397;
} */
#voteRate > p {
  font-size: 16px;
  color: #827397;
  font-weight: 500;
  letter-spacing: 2.4px;
  margin: 0;
  display: block;
}
.barContent {
  position: absolute;
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;*/
  align-items: center;

  border-right: 5px solid #827397;
  border-left: 5px solid #827397;
}

/* ↑一排投票率↑ */
#barChart {
  position: absolute;
  z-index: 0;
  height: 100%;
  right: 0;
  top: 0;
}
/* ↓開票狀態↓ */
#voteStatus {
  width: 20%;
  height: 26px;
  display: flex;
  margin-top: 18px;
}
#voteStatus > p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.4px;
  color: #827397;
  margin: 0;
  padding: 1px 3px 2px 3px;
  border: 1px solid #827397;
}

/* ↑開票狀態↑ */
/* ↓政黨顏色↓ */
#partyColor {
  width: 80%;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 18px;
}
#partyColor > div {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
#partyColor > div > p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #333333;
  margin: 0 0 0 10px;
}
.partySquare {
  width: 20px;
  height: 20px;
}
#squareColor1 {
  background-color: #1b9431;
}
#squareColor2 {
  background-color: #000095;
}
#squareColor3 {
  background-color: #ff6310;
}
/* ↑政黨顏色↑ */
/* ↑左邊地圖卡片的部分↑ */
@media only screen and (max-width: 768px) {
  #main {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    margin: auto;
    overflow-y: auto;
    /* background-color: rgba(255, 255, 255, 0.4);
      background-blend-mode: lighten;
      background-image: url(./images/02_map/bg.png);
      background-size: cover;
      background-repeat: no-repeat; */
  }
  #content {
    margin-top: 100px;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    justify-content: space-around;
  }
  /* ↓左邊地圖卡片的部分↓ */
  #voteCard {
    margin-top: 100px;
    width: 100%;
    height: 80vh;
    display: flex;
    margin-left: 0;
  }

  #putin_HTML {
    width: 100%;
    height: 181px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  /* ↓地區名稱和候選人名和投票率和得票數↓ */
  /* ↓政黨顏色↓ */
  #Green_dom,
  #Blue_dom,
  #Orange_dom {
    display: flex;
    flex-direction: column;
  }
  #partyColor {
    width: 80%;
    height: auto;
  }
  #partyColor > div > p {
    letter-spacing: 1px;
    margin: 0;
  }
  .partySquare {
    width: 100%;
    height: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  #content {
    width: 100%;
    height: 95%;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }
  #voteCard {
    width: 45%;
    height: 95%;
    display: flex;
    margin-left: 3rem;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
  }
}
