#intr_window {
  position: fixed;
  z-index: 20;
  display: flex;
}
.overlay_background {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  /* 加入模糊 */
  opacity: 0.8;
}
.overlay_container {
  position: absolute;
  width: 80vw;
  height: 80vh;
  margin: auto;
  border-radius: 40px 40px 40px 40px;
  /* background-color: rgba(255, 255, 255, 0.6); */
  /* border: 1px solid #000; */
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  background-position: center bottom;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: linear-gradient(
    rgba(253, 250, 250, 0.9),
    rgba(255, 255, 255, 0.9)
  );

  &::-webkit-scrollbar {
    display: none;
  }
  padding: 20px;
}
.overlay_controls {
  position: sticky;
  left: 95%;
  top: 20px;
  img {
    width: 30px;
    padding: 10px;
  }
}
.overlay_contain {
  display: flex;
  justify-content: space-around;
  .contain_left,
  .contain_right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 40%;
    margin: 50px 0 10px;
  }
}
.contain_btn {
  display: flex;
  justify-content: end;
  margin: 10px;
  .btn {
    margin-right: 5px;
  }
}
.Bigicon,
.Smallicon {
  .OUO-1:hover {
    fill: #827397;
  }
}
.Shareicon {
  width: 30px;
  height: 30px;
  fill: #827298;
  .sharefill:hover {
    fill: #d8b9c3;
  }
}
.content_history {
  width: 75%;
  margin: 0 auto;
  h4 {
    color: #363062;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 15%;
    margin-top: 50px;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 15%;
    margin-top: 15px;
  }
  .p_year {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 15%;
    margin-top: 5px;
  }
}
.contain_slogan {
  margin: 0 auto;
  .slogan_triangle {
    display: inline-block;
    margin: 15px;
    background-repeat: no-repeat;
    text-align: justify;
  }
}
.text-container {
  display: inline;
  text-align: justify;
  flex-direction: row;
}
.content_battle {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  h4 {
    color: #363062;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 5%;
    margin-top: 20px;
  }
}
.slogan_triangle {
  position: relative;
  display: inline-block;
  margin: 15px;
  background-repeat: no-repeat;
  text-align: justify;
  .p-1,
  .p-2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 15%;
  }
  .p-1 {
    display: inline-block;
    text-indent: 2em;
  }
  .p-2 {
    display: inline;
  }
  .em-text {
    display: inline-block;
    margin: 0 5px;
    padding: 0px 4px;
    font-size: 20px;
    letter-spacing: 15%;
    font-weight: 600;
    line-height: 32px;
  }
  .red {
    color: #b70404;
    border: 1px solid #b70404;
  }
  .green {
    color: #1b9431;
    border: 1px solid #1b9431;
  }
  .blue {
    color: #000095;
    border: 1px solid #000095;
  }
  .orange {
    color: #ff6310;
    border: 1px solid #ff6310;
  }
}
.battle_photo {
  margin: 30px 0;
}
@media only screen and (max-width: 768px) {
  .overlay_contain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .contain_left,
    .contain_right {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 95%;
      margin: 50px 0 10px;
    }
  }
}
